body{
    background-color: #FFE0EE;
    color: #808080;
}

p{
    color: #808080;
}

a{
    color: #000394;
}

nav{
    background-color: aquamarine;
    padding: 10px;
    margin-bottom: 30px;
}

nav a{
    color: lightyellow;
}

nav a:hover {
    background-color: orange;
}



table, th, td {
	border: 1px solid black;
}

.evenrow{
	background-color: gray;
}

.footerquote{
    float: right;
}

.row1{
    display: flex;
    background: white;
    border-radius: 2em;
    padding: 2em;
    margin: 1em;
}

.row2{
    display: flex;
    background: white;
    border-radius: 2em;
    padding: 2em;
    margin: 1em;
    flex-wrap: wrap;
}

.row1 div{
    margin-right: 1em;
}

.row2 div{
    flex: 2;
}

.col4{
    margin-left: 20px;
    margin-top: 50px;
}

.col1{
    margin-left: 30px;
    margin-top: 50px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.skillsheading{
    display: flex;
    justify-content: center;
}

.skillsheading2{
    width: 20%;
    margin: 0 auto;
}

.icon{
    width: 40px;
}

.skillsrow{
    display: flex;
    flex: 3;
    justify-content:space-around;
    margin-top: 30px
}

.sidebar{
    background-color: lightblue;
    border-radius: 20px;
    padding: 30px;
}

.flex2{
    display: flex;
    flex: ;
}

.container{
    padding: 30px;
}

.row{padding-right: 30px;}

.bio-banner{
    max-width: 100%;
}

.row2{
    flex-wrap: wrap;
}

@media only screen and (max-width: 768px){
    nav a{
        width: 100%;
        display: block;
        padding: 10px;
    }

    .pipe{
        display: none;
    }
}