body{
    background-color: #FFE0EE;
    color: #808080;
}

p{
    color: #808080;
}

a{
    color: #000394;
}

nav{
    background-color: aquamarine;
    padding: 10px;
    margin-bottom: 30px;
}

nav a{
    color: lightyellow;
}

nav a:hover {
    background-color: orange;
}

h2{
	font-size: 1em;
}

table, th, td {
	border: 1px solid black;
}

.evenrow{
	background-color: gray;
}